*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 15%, rgba(252, 126, 55, 1) 83%, rgba(252, 176, 69, 1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  /* text-shadow: 5px 5px 8px black; */
  font-weight: bolder;
  font-size: 50px;

}

.center {
  display: flex;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
}

.btn2 {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border: 5px solid black;
  background-color: rgb(41, 121, 192);
  color: white;
  font-size: 25px;
  font-weight: bold;

}

.btn1 {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border: 5px solid black;
  background-color: rgb(15, 100, 100);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn1:hover {
  background-color: rgb(124, 171, 76);
}

.down {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: cursive;
}

.btn3 {
  width: 300px;
  height: 70px;
  border-radius: 35px;
  border: 5px solid black;
  background-color: rgb(53, 127, 4);
  color: rgb(193, 226, 47);
  font-size: 25px;
  font-weight: bold;
}

.container {
  border-bottom: 10px solid rgb(146, 21, 100);
}